*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
debug
wandb
data
scripts/scans
scripts/processed
*.txt
submodules
src/gsr/__pycache__
src/utils/__pycache__
src/entities/__pycache__
src/evaluation/__pycache__
src/gsr/__pycache__